{# @var job \Setono\EditorJSBundle\Entity\JobInterface #}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Progress</th>
            <th>ETA</th>
            <th>Started at</th>
            <th>Last update</th>
            <th>Finished at</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ job.name }}</td>
            <td>{{ job.type }}</td>
            <td>{{ job.state }}</td>
            <td>
                {% if job.running %}
                    {{ job.steps ? (job.step ~ ' / ' ~ job.steps ~ ' ('~ job.progress ~'%)') : job.step }}
                {% else %}
                    Not available
                {% endif %}
            </td>
            <td>
                {% if job.running %}
                    {{ job.eta ? job.eta ~ ' seconds left' : 'Not available' }}
                {% else %}
                    Not available
                {% endif %}
            </td>
            <td>
                {% if job.startedAt is null %}
                    Not started yet
                {% else %}
                    {{ job.startedAt|date }}
                {% endif %}
            </td>
            <td>{{ job.updatedAt|date }}</td>
            <td>
                {% if job.finishedAt is null %}
                    Not finished yet
                {% else %}
                    {{ job.finishedAt|date }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
